<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            perform_query();
        });

        function perform_query() {
            let word = 'fire';
            let api_key = '42d899ca-dc47-43ec-90de-6feec4579121';
            let url = `https://www.dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function(response) {
                    console.log(response);
                }
            });
        }
    </script>

    <title>Document</title>
</head>

<body>

</body>

</html>